html,body {
    height: 100vh;
    background: #0f3854;
}

.container {
    height: 100vh;
    text-align: center;
    padding: 5px;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
}

#clock {
    background: #85A894;
    background-size: 100%;
    font-family: 'Share Tech Mono', monospace;
    color: #F5F1ED;
    padding: 70px 0;
    .time {
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
}
