{% extends 'base.html' %}

{% block body %}
<h1>上傳圖片公告</h1>
<br>
<form action="{% url "upload" %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if field.label == "Image" %}
            <label for="imageUpload" class="button">Upload File</label>
            {{ field }}
        {% else %}
            {{ field.label_tag }}
            {{ field }}
        {% endif %}
    {% endfor %}
    <input type="submit" class="button expanded">
</form>
{% endblock %}
