{% extends 'signage_base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static "signage.css" %}">
<div class="grid-x">
    <div class="cell large-10" style="height: 500px">
        <img id="image" alt="Display Image">
    </div>
    <div class="cell large-2" id="sidebar">
        <div id="clock">
            <p class="date"></p>
            <p class="time"></p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static "signage.js" %}"><script>
{% endblock %}
