<div class="grid-y news-container">
    {% for post in news %}
    <div class="cell large-auto grid-x news">
        <div class="cell large-9 grid-y grid-padding-y grid-margin-y" style="text-align: center;">
            <img class="cell large-6" src="{{ post.website_icon }}" style="object-fit: contain">
            <span class="cell large-6">{{ post.title }}</span>
        </div>
        <div class="cell large-3 qrcode">
            <img src="{{ post.qr_img.url }}">
        </div>
    </div>
    {% endfor %}
</div>
