<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Signage</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>

<body>

    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu title-area">
                <li class="menu-text"><a href="{% url "home" %}" target="_blank">Digital-Signage</a></li>
                <li><a href="{% url "upload"%}">Upload Image</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                {% if user.is_authenticated %}
                <li class="menu-text"><a href="{% url "logout" %}">Logout</a></li>
                {% else %}
                <li class="menu-text"><a href="{% url "login" %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div>
        <br>
        <div class="row">
        {% if msg_info %}
            <div class="callout primary">
                {{ msg_info }}
            </div>
        {% endif %}
        {% if msg_suc %}
            <div class="callout success">
                {{ msg_suc }}
            </div>
        {% endif %}
        {% if msg_warn %}
            <div class="callout warning">
                {{ msg_warn }}
            </div>
        {% endif %}
        {% block body %} {% endblock %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
